/* Helvetica Neue Font Faces */

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/helvetica_neue/helvetica/HelveticaNeueLTPro-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/helvetica_neue/helvetica/HelveticaNeueLTPro-Md.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/helvetica_neue/helvetica/HelveticaNeueLTPro-Blk.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/helvetica_neue/helvetica/HelveticaNeueLTPro-UltLt.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/helvetica_neue/helvetica/HelveticaNeueLTPro-Th.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/helvetica_neue/helvetica/HelveticaNeueLTPro-LtIt.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}